<!DOCTYPE html>
<html>
	<head>

		<title>daterangepicker</title>

		<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css">

	</head>
	<body>
		<br />

		<div ng-app="daterangepicker" ng-controller="SampleCtrl" class="container">
			<div>
				<pre>&lt;input type="text" date-range-picker single-date-picker="true" ng-model="date"> <span>{{</span>date|json}}</pre>
				<input type="text" date-range-picker="{singleDatePicker: true}" ng-model="date"> <code>{{date|json}}</code>
			</div>
			<hr>
			<div>
				<pre>&lt;input type="text" date-range-picker ng-model="dates1"> <span>{{</span>dates1|json}}</pre>
				<input type="text" date-range-picker ng-model="dates1"> <code>{{dates1|json}}</code>
			</div>
			<hr>
			<div>
				<pre>&lt;input type="text" date-range-picker ng-model="dates2" format="MMM DD" separator="/"> <span>{{</span>dates2|json}}</pre>
				<input type="text" date-range-picker="{format:'MMM DD', separator: '/'}" ng-model="dates2"> <code>{{dates2|json}}</code>
			</div>
			<hr>
			<div>
				<pre>&lt;input type="text" date-range-picker ng-model="dates4" ranges="ranges"> <span>{{</span>dates4|json}}</pre>
				<input type="text" date-range-picker="{ranges: ranges}" ng-model="dates4"> <code>{{dates4|json}}</code>
			</div>

		</div>

		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="../bower_components/moment/moment.js"></script>
		<script src="../bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
		<script src="../bower_components/angular/angular.js"></script>

		<script src="../angular-daterangepicker.js"></script>

		<script>
			angular
				.module('daterangepicker')
				.controller('SampleCtrl', function($scope) {
						$scope.dates2 = { startDate: moment(), endDate: moment().add(1, 'day') };
						$scope.dates3 = { startDate: moment(), endDate: moment().add(7, 'day') };
						$scope.dates4 = { startDate: moment().subtract(1, 'day'), endDate: moment().subtract(1, 'day') };
						$scope.ranges = {
							'Today': [moment(), moment()],
							'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
							'Last 7 days': [moment().subtract('days', 7), moment()],
							'Last 30 days': [moment().subtract('days', 30), moment()],
							'This month': [moment().startOf('month'), moment().endOf('month')]
						};
					});
		</script>

	</body>
</html>